<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moon_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moon_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Moon_Player.Properties.Settings>
            <setting name="MusicDirectory" serializeAs="String">
                <value>C:/</value>
            </setting>
        </Moon_Player.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Moon_Player.Properties.Settings>
            <setting name="Extensions" serializeAs="String">
                <value>.aa,.aax,.aac,.aiff,.ape,.dsf,.flac,.m4a,.m4b,.m4p,.mp3,.mpc,.mpp,.ogg,.oga,.wav,.wma,.wv,.webm</value>
            </setting>
        </Moon_Player.Properties.Settings>
    </applicationSettings>
</configuration>